*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  background-color: $color-bg;
  height: 100%;
}

label {
  cursor: pointer;
}

// Header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: $color-bg-darker;
  color: $color-white;

  h1 {
    font-size: 2.5rem;
  }

  & ul {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 2rem;

    & input {
      display: none;
    }

    & label {
      margin-right: 1rem;
    }

    & a {
      text-decoration: none;
      font-size: 2rem;
    }
  }
}

// Left / Right content area
.main {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 1rem;
  font-size: 1.5rem;
  color: $color-white;

  &__left {
    width: 80%;
    margin-right: 1rem;
  }

  &__right {
    width: 20%;
  }
}

.left-content,
.right-content {
  padding: 1rem;
}

.right-content {
  height: 50%;
}

.left-content {
  height: 100%;
  justify-content: center;
  &__input-area {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.keyboard-info {
  text-align: center;
  margin-top: 5rem;
}

.legend {
  &__color {
    font-weight: 700;
    padding: 1rem 1.5rem;
    text-align: center;
    border-radius: 3px;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &--1 {
      background-color: $color-legend-1;
    }
    &--2 {
      background-color: $color-legend-2;
    }
    &--3 {
      background-color: $color-legend-3;
    }
  }
}

.key-1 {
  border-top: 4px solid $color-legend-1;
}
.key-2 {
  border-top: 4px solid $color-legend-2;
}
.key-3 {
  border-top: 4px solid $color-legend-3;
}

.editor-nav {
  & ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: $color-bg;
    font-size: 1.5rem;

    & li {
      cursor: pointer;
      background-color: $color-primary-2;
      transform: skew(-40deg);
      width: 46%;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background-color: $color-primary-1;
      }
    }

    & a {
      display: block;
      text-decoration: none;
      font-size: 2rem;
      color: $color-white;
      font-weight: 700;
      transform: skew(40deg);
    }
  }
}

.selected {
  background-color: $color-primary-1 !important;
}

.heading-bindlist {
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem;
}

// Button style
.btn {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  color: $color-white;
  background-color: $color-primary-2;

  &:hover {
    background-color: $color-primary-1;
  }
}

.btn--primary-1 {
  background-color: $color-primary-1;

  &:hover {
    background-color: darken($color-primary-1, 10%);
  }
}

// Checkbox style
.custom-checkbox {
  position: absolute;
  right: 1rem;

  &__box {
    display: none;

    & + label {
      position: relative;
      cursor: pointer;
      margin-right: 0 !important;

      &::before {
        content: "";
        margin-right: 1rem;
        display: inline-block;
        vertical-align: text-top;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: $color-primary-1;
      }
    }

    &:hover + label::before {
      background-color: darken($color-primary-1, 5%);
    }

    &:focus + label::before {
      box-shadow: 0 0 0 3px rgba($color-bg-darker, 0.12);
    }

    &:checked + label::before {
      background-color: lighten($color-primary-1, 10%);
    }

    &:checked + label {
      background-color: transparent !important;
    }

    &:checked + label::after {
      content: "\2714";
      position: absolute;
      left: 0.5rem;
      top: -0.5rem;
      color: $color-white;
      font-size: 3.5rem;
    }
  }
}

select {
  border: none;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  padding: 0.5rem 1rem;
  font-weight: 700;
  outline: none;
  background-color: $color-primary-1;
  color: $color-white;

  &:checked {
    background-color: darken($color-primary-1, 10%);
  }
}

.bind-selection {
  position: absolute;
  left: 2rem;

  & .btn {
    margin-top: 0.5rem;
  }
}

// Keyboard styles
.hg-button {
  color: $color-primary-2;
  font-weight: 700;
  background-color: $color-bg-darker !important;
  border-bottom: 2px solid #011 !important;

  &:hover {
    background-color: $color-bg !important;
  }
}

.simple-keyboard,
.hg-theme-default {
  width: 80% !important;
  margin-top: 3rem !important;
  margin-right: 3rem;
  background-color: $color-bg !important;
}

.red {
  color: #f00;
}

.hg-button-space {
  width: 70%;
}

.hidden {
  display: none !important;
}

// Bindlist

.bindlist {
  height: 80vh;
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: $color-bg;
  }

  &::-webkit-scrollbar {
    width: 12px;
    background-color: $color-bg-darker;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $color-primary-2;
  }
}

.bind {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: $color-primary-1;
  user-select: none;
  margin-right: 1rem;
  transition: all 150;

  &:hover {
    background-color: darken($color-primary-1, 5%);
  }

  &__info {
    width: 100%;
  }

  &__key {
    text-align: center;
    font-weight: 700;
  }

  &__controls {
    display: flex;
    font-weight: 700;

    & a {
      color: $color-white;
      text-decoration: none;
    }
  }

  &__edit {
    margin-right: 1rem;
  }

  &__controls {
  }
}

.c0bg {
  background-color: $color-wsw-0;
}
.c1bg {
  background-color: $color-wsw-1;
}
.c2bg {
  background-color: $color-wsw-2;
}
.c3bg {
  background-color: $color-wsw-3;
}
.c4bg {
  background-color: $color-wsw-4;
}
.c5bg {
  background-color: $color-wsw-5;
}
.c6bg {
  background-color: $color-wsw-6;
}
.c7bg {
  background-color: $color-wsw-7;
}
.c8bg {
  background-color: $color-wsw-8;
}
.c9bg {
  background-color: $color-wsw-9;
}

// Warsow color codes
.c0 {
  color: $color-wsw-0;
}

.c1 {
  color: $color-wsw-1;
}
.c2 {
  color: $color-wsw-2;
}
.c3 {
  color: $color-wsw-3;
}
.c4 {
  color: $color-wsw-4;
}
.c5 {
  color: $color-wsw-5;
}
.c6 {
  color: $color-wsw-6;
}
.c7 {
  color: $color-wsw-7;
}
.c8 {
  color: $color-wsw-8;
}
.c9 {
  color: $color-wsw-9;
}

// Bind editor
.bind-editor {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
  background-color: $color-bg-darker;
  border-radius: 3px;

  &__heading {
    border-radius: 3px;
    align-self: flex-end;
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: darken($color-primary-2, 5%);
  }

  &__checkbox-info {
    position: relative;
    align-self: flex-end;
    font-weight: 700;

    &::after {
      content: "\2193";
      position: absolute;
      top: 2rem;
      right: 3.5rem;
      font-size: 2.5rem;
      font-weight: 700;
    }
  }

  & h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  &__weapons {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    & div {
      display: flex;

      & label {
        margin-right: 1.5rem;

        & img {
          height: 6rem;
          width: 6rem;
        }

        &[for|="weapon"]:hover {
          transform: scale(1.1);
        }
      }

      & input[type="radio"] {
        display: none;

        &:checked + label {
          filter: drop-shadow(2px 2px 0 $color-primary-2) drop-shadow(-2px -2px 0 $color-primary-2)
            drop-shadow(2px -2px 0 $color-primary-2) drop-shadow(-2px 2px 0 $color-primary-2);
        }
      }
    }
  }

  &__commands {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    & input {
      width: 100%;
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;
      outline: none;
      border: none;
      border-bottom: 1px solid $color-primary-2;
      color: $color-white;
      font-size: 1.75rem;
      background-color: transparent;
    }

    & label {
      font-size: 2rem;
      margin-right: 1rem;
    }
  }
}

.chat-options {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  &__channel {
    & label {
      display: block;
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;
      font-weight: 700;
      text-align: center;
      border-radius: 3px;
      background-color: $color-primary-1;
    }

    & input {
      display: none;
    }
  }

  & input:checked + label {
    background-color: darken($color-primary-1, 10%);
  }

  &__vsay {
    margin-left: 2rem;
  }

  &__input {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: 2rem;

    & input {
      width: 100%;
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;
      outline: none;
      border: none;
      border-bottom: 1px solid $color-primary-2;
      color: $color-white;
      font-size: 1.75rem;
      background-color: transparent;
    }
  }

  &__colors {
    display: flex;

    & div {
      width: 3rem;
      height: 3rem;
    }
  }

  &__preview {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: 2rem;

    & h2 {
      font-size: 2rem;
      margin-bottom: 0;
    }

    & div {
      font-size: 2rem;
      max-width: 30rem;
      max-height: 10rem;
      word-break: break-all;
    }
  }
}
