*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  height: 100%;
}

// Header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: $color-bg-darker;
  color: $color-white;

  h1 {
    font-size: 2.5rem;
  }

  & ul {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 2rem;

    & input {
      display: none;
    }

    & label {
      margin-right: 1rem;
    }

    & a {
      text-decoration: none;
      font-size: 2rem;
    }
  }
}

// Left / Right content area
.main {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 1rem;
  font-size: 1.5rem;
  color: $color-white;
  background-color: $color-bg;

  &__left {
    width: 80%;
    margin-right: 1rem;
  }

  &__right {
    width: 20%;
  }
}

.left-content,
.right-content {
  padding: 1rem;
}

.left-content {
  &__input-area {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.legend {
  &__color {
    font-weight: 700;
    padding: 1rem 1.5rem;
    text-align: center;
    border-radius: 3px;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &--1 {
      background-color: $color-legend-1;
    }
    &--2 {
      background-color: $color-legend-2;
    }
    &--3 {
      background-color: $color-legend-3;
    }
  }
}

.key-1 {
  border-top: 4px solid $color-legend-1;
}
.key-2 {
  border-top: 4px solid $color-legend-2;
}
.key-3 {
  border-top: 4px solid $color-legend-3;
}

.editor-nav {
  & ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: $color-bg;
    font-size: 1.5rem;

    & li {
      cursor: pointer;
      background-color: $color-primary-2;
      transform: skew(-40deg);
      width: 46%;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background-color: $color-primary-1;
      }
    }

    & a {
      display: block;
      text-decoration: none;
      font-size: 2rem;
      color: $color-white;
      font-weight: 700;
      transform: skew(40deg);
    }
  }
}

.selected {
  background-color: $color-primary-1 !important;
}

.heading-bindlist {
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem;
}

// Button style
.btn {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  cursor: pointer;
  color: $color-white;
  background-color: $color-primary-2;

  &:hover {
    background-color: $color-primary-1;
  }
}

// Keyboard styles
.hg-button {
  color: $color-primary-2;
  font-weight: 700;
  background-color: $color-bg-darker !important;
  border-bottom: 2px solid #011 !important;

  &:hover {
    background-color: $color-bg !important;
  }
}

.simple-keyboard,
.hg-theme-default {
  width: 80% !important;
  margin-top: 3rem !important;
  margin-right: 3rem;
  background-color: $color-bg !important;
}

.red {
  color: #f00;
}

.hg-button-space {
  width: 70%;
}

.hidden {
  display: none;
}
