*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  height: 100%;
}

// Header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: $color-bg-darker;
  color: $color-white;

  h1 {
    font-size: 2.5rem;
  }

  & ul {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 2rem;

    & input {
      display: none;
    }

    & label {
      margin-right: 1rem;
    }

    & a {
      text-decoration: none;
      font-size: 2rem;
    }
  }
}

// Left / Right content area
.main {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 1rem;
  font-size: 1.5rem;
  color: $color-white;
  background-color: $color-bg;

  &__left {
    width: 80%;
    margin-right: 1rem;
  }

  &__right {
    width: 20%;
  }
}

.left-content,
.right-content {
  padding: 1rem;
}

.right-content {
  height: 50%;
}

.left-content {
  &__input-area {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.legend {
  &__color {
    font-weight: 700;
    padding: 1rem 1.5rem;
    text-align: center;
    border-radius: 3px;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &--1 {
      background-color: $color-legend-1;
    }
    &--2 {
      background-color: $color-legend-2;
    }
    &--3 {
      background-color: $color-legend-3;
    }
  }
}

.key-1 {
  border-top: 4px solid $color-legend-1;
}
.key-2 {
  border-top: 4px solid $color-legend-2;
}
.key-3 {
  border-top: 4px solid $color-legend-3;
}

.editor-nav {
  & ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: $color-bg;
    font-size: 1.5rem;

    & li {
      cursor: pointer;
      background-color: $color-primary-2;
      transform: skew(-40deg);
      width: 46%;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background-color: $color-primary-1;
      }
    }

    & a {
      display: block;
      text-decoration: none;
      font-size: 2rem;
      color: $color-white;
      font-weight: 700;
      transform: skew(40deg);
    }
  }
}

.selected {
  background-color: $color-primary-1 !important;
}

.heading-bindlist {
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem;
}

// Button style
.btn {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  cursor: pointer;
  color: $color-white;
  background-color: $color-primary-2;

  &:hover {
    background-color: $color-primary-1;
  }
}

// Keyboard styles
.hg-button {
  color: $color-primary-2;
  font-weight: 700;
  background-color: $color-bg-darker !important;
  border-bottom: 2px solid #011 !important;

  &:hover {
    background-color: $color-bg !important;
  }
}

.simple-keyboard,
.hg-theme-default {
  width: 80% !important;
  margin-top: 3rem !important;
  margin-right: 3rem;
  background-color: $color-bg !important;
}

.red {
  color: #f00;
}

.hg-button-space {
  width: 70%;
}

.hidden {
  display: none;
}

// Bindlist

.bindlist {
  height: 80vh;
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: $color-bg;
  }

  &::-webkit-scrollbar {
    width: 12px;
    background-color: $color-bg-darker;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $color-primary-2;
  }
}

.bind {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: $color-primary-1;
  user-select: none;
  margin-right: 1rem;
  transition: all 150;

  &:hover {
    background-color: darken($color-primary-1, 5%);
  }

  &__info {
    width: 100%;
  }

  &__key {
    text-align: center;
    font-weight: 700;
  }

  &__controls {
    display: flex;
    font-weight: 700;

    & a {
      color: $color-white;
      text-decoration: none;
    }
  }

  &__edit {
    margin-right: 1rem;
  }

  &__controls {
  }

  // Warsow color codes
  .c0 {
    color: $color-wsw-0;
  }

  .c1 {
    color: $color-wsw-1;
  }
  .c2 {
    color: $color-wsw-2;
  }
  .c3 {
    color: $color-wsw-3;
  }
  .c4 {
    color: $color-wsw-4;
  }
  .c5 {
    color: $color-wsw-5;
  }
  .c6 {
    color: $color-wsw-6;
  }
  .c7 {
    color: $color-wsw-7;
  }
  .c8 {
    color: $color-wsw-8;
  }
  .c9 {
    color: $color-wsw-9;
  }
}
