$color-primary-1: #52127f;
$color-primary-2: #d46a1e;
$color-bg: #333;
$color-bg-darker: #222;
$color-white: #fff;
$color-legend-1: #413c69;
$color-legend-2: #4a47a3;
$color-legend-3: #ad62aa;

// Warsow colors
$color-wsw-0: #000;
$color-wsw-1: #f00;
$color-wsw-2: #0f0;
$color-wsw-3: #ff0;
$color-wsw-4: #00f;
$color-wsw-5: #0ff;
$color-wsw-6: #f0f;
$color-wsw-7: #fff;
$color-wsw-8: #ff7f00;
$color-wsw-9: #7f7f7f;
